extends layouts/ana-duzen.pug

block content
    script. 
        var postId = '!{postId}'
    .postsContainer
    
    +createPostModals(userLoggedIn)

block scripts
    script(src="/js/postPage.js")

