:root{
    --mainColor:#00a86b;
    --buttonHover: #B5F4DE;
    --borderColor: rgb(230,236,240);
    --spacing: 15px;
    --disabledColor: #BCEEDD;
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(184, 170, 170, 0.34);
    --likeButton: #30CCF9;
    --likeBackground: #C2F1FE;
}

* {
    outline: none !important;
}

a{
    color:inherit;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}

nav {
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    height: 100%;
}

nav a{
padding:  10px;
font-size: 30px;
width: 55px;
height: 55px;
display: flex;
align-items: center;
justify-content: center;
color: #212529
}

nav a.blue{
    color: var(--mainColor);
}

nav a:hover{
    background-color: var(--buttonHover);
    color: var(--mainColor);
    border-radius: 50%;
}

.wrapper > .row{
    margin: 0;
}

button{
    background-color: transparent;
    border: none;
    color: var(--greyButtonText);
}

button i,
button span{
    pointer-events: none;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    display: flex;
    flex-direction: column;
}

.titleContainer{
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
    flex-shrink: 0;
}

.titleContainer h1{
    flex: 1;
}

.postFormContainer{
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid rgb(230, 236, 240);
    flex-shrink: 0;
}

.modal .postFormContainer{
    border: none;
    padding: 0;
    padding-top: var(--spacing);

}

.modal .post {
    padding: 0;
    padding-bottom: var(--spacing);
}

.userImageContainer{
    width: 50px;
    height: 50px;
}

.userImageContainer img{
    width:100%;
    border-radius: 50%;
    background-color: white;
}

.textareaContainer{
    flex: 1;
    padding-left: var(--spacing);
}

.textareaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 19px;
}

#submitPostButton{
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 17px;
}

#submitPostButton:disabled{
    background-color: var(--disabledColor);
}

.post{
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--borderColor);
    flex-shrink: 0;
}

.mainContentContainer{
    flex: 1;
    display: flex;
}
.postContentContainer{
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.kullaniciAdi,
.tarih {
    color: var(--greyText);
}
.displayName {
    font-weight: bold;
}

.postFooter{
    display:flex;
    align-items: center;
}

.postFooter .postButtonContainer{
    flex: 1;
    display: flex;
}

.postFooter .postButtonContainer button{
    padding: 2px 5px;
}

.header a:hover{
    text-decoration: underline;
}

.header a,
.header span{
    padding-right: 5px;
}

.postButtonContainer button:hover{
    background-color: #D4FFF3;
    color: var(--mainColor);
    border-radius: 50%;
}

.postButtonContainer.blue button.active{
    color: var(--likeButton);
}

.postButtonContainer.green button.active{
    color: var(--mainColor);
}

.postButtonContainer.blue button:hover {
    color: var(--likeButton);
    background-color: var(--likeBackground);
}

.postActionContainer {
    padding-left: 65px;
    font-size: 13px;
    color: var(--greyText);
    margin-bottom: 5px;
}

.postActionContainer:hover{
    text-decoration: underline;
}

.replyFlag{
    margin-bottom: 5px;
}

.replyFlag a{
    color: var(--mainColor);
}

.replyFlag:hover{
    text-decoration: underline;
}

.post.largeFont .postBody,
.post.largeFont .postFooter{
    font-size: 23px;
}

.postContentContainer .header{
    display: flex;
}

.postContentContainer .header .tarih {
    flex: 1;
}

.postContentContainer .deleteButton:hover {
    color: #E72A2A;
}

#submitReplyButton,
#coverPhotoUploadButton,
#imageUploadButton{
    background-color: var(--mainColor);
}

.errorMessage {
    padding: var(--spacing);
}

.profileHeaderContainer .coverPhotoSection{
    height: 180px;
    background-color: var(--mainColor);
    position: relative;
}

.profileHeaderContainer .userImageContainer{
    height: 124px;
    width: 124px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -62px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileHeaderContainer .userImageContainer img{
    border: 4px solid #ffff;
}

.profileHeaderContainer .profileButtonsContainer{
    text-align: right;
    padding: var(--spacing);
    min-height: 66px;
}

.profileButton,
.followButton{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover{
    background-color: var(--buttonHover);
    color: var(--mainColor);
}

.followButton.following{
    background-color: var(--mainColor);
    color: #ffff;
}

.profileHeaderContainer .userDetailsContainer{
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.followersContainer .value{
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value){
    color: var(--greyText);
}

.followersContainer a{
    margin-right: 15px;
}

.followersContainer a:hover{
    border-bottom: 1px solid var(--mainColor);
}

.tabsContainer{
    margin-top: 10px;
    display: flex;
    border-bottom: 1px solid var(--greyText);
    flex-shrink: 0;
}

.tab{
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--greyText);
    font-weight: bold;
}

.tab.active{
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}

.tab:hover {
    color: var(--mainColor);
    background-color: var(--buttonHover);
}

.noResults{
    font-weight: bold;
    padding: var(--spacing);
}

.resultsContainer{
    display: flex;
    flex-direction: column;
}

.resultsContainer .user{
    padding: var(--spacing);
    display: flex;
    border-bottom: 1px solid var(--borderColor);
}

.user .userDetailsContainer {
    flex: 1;
    padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton{
    position: absolute;
    font-size:  50px;
    color:rgba(0, 0, 0, 0.6);
    display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton{
    display: block;
}

.coverPhotoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.coverPhotoContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagePreview,
#coverPreview {
    width: 100%;
    display: block;
    max-width: 100%;
}

.searchBarContainer {
    position: relative;
    color: var(--greyText);
    padding: 10px var(--spacing);
}

.searchBarContainer i{
    position: absolute;
    top: 20px;
    left: 28px;
}

.searchBarContainer #searchBox{
    height: 36px;
    width: 100%;
    padding: 5px 15px 5px 45px;
    border-radius: 50px;
    background-color: var(--borderColor);
    border: none;
    color: var(--greyText);
}